---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticlePreview from '../components/ArticlePreview.astro';
const allArticles = await Astro.glob('../pages/articles/*.md');
const pageTitle = "Welcome to Mort central";
---

<BaseLayout pageTitle={pageTitle}>
	<p>The home of homebrew SLA content.</p>
	{allArticles.map((article) => <ArticlePreview 
		url={article.url} 
		title={article.frontmatter.title} 
		description={article.frontmatter.description}
		author={article.frontmatter.author}
		quote={article.frontmatter.quote}
	/>)}
</BaseLayout>
